<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smd.pillapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Blue">
        <activity
            android:name="smd.ViewController.AddActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName="smd.ViewController.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smd.ViewController.MainActivity" />
        </activity>
        <activity
            android:name="smd.ViewController.AddPhoneActivity"
            android:label="Phone Number"
            android:parentActivityName="smd.ViewController.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smd.ViewController.MainActivity" />
        </activity>
        <activity
            android:name="smd.ViewController.AlertActivity"
            android:label="@string/title_activity_alert"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="teamqitalach.pillapp.alertactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="smd.ViewController.MainActivity"
            android:label="@string/app_name">

        </activity>
        <service
            android:name="smd.ViewController.MyTestService"
            android:exported="false"/>
        <receiver
            android:name="smd.ViewController.MyAlarmReceiver"
            android:process=":remote"></receiver>

        <activity
            android:name="smd.ViewController.PillBoxActivity"
            android:label="@string/title_activity_edit"></activity>
        <activity
            android:name="smd.ViewController.ScheduleActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName="smd.ViewController.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smd.ViewController.MainActivity" />
        </activity>
        <activity
            android:name="smd.ViewController.EditActivity"
            android:label="@string/title_activity_edit"></activity>
        <activity
            android:name="smd.ViewController.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>